<div class="form-container">
  <h2 class="form-title">Cadastrar ou Atualizar um Produto</h2>
  <form>
    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="name"
        [ngModelOptions]="{ standalone: true }"
        class="form-control"
        id="name"
        name="name"
        placeholder="Nome"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="description"
        [ngModelOptions]="{ standalone: true }"
        class="form-control"
        id="description"
        name="description"
        placeholder="Descrição"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="price"
        [ngModelOptions]="{ standalone: true }"
        class="form-control"
        id="price"
        name="price"
        placeholder="Preço R$"
      />
    </div>
    <button type="submit" class="btn btn-primary form-button" (click)="save()">Salvar</button>
  </form>
</div>

<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th class="form-title" scope="col">Nome</th>
        <th class="form-title" scope="col">Descrição</th>
        <th class="form-title" scope="col">Preço R$</th>
        <th class="form-title" scope="col">Açoes</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let ProductItem of ProductArray">
        <td>{{ ProductItem.name }}</td>
        <td>{{ ProductItem.description }}</td>
        <td>{{ ProductItem.price }}</td>

        <td>
          <button
            type="button"
            class="btn btn-primary btn-table"
            (click)="setUpdate(ProductItem)"
          >
            Editar
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="setDelete(ProductItem)"
          >
            Deletar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
